USE_LMSTUDIO=false

OPENROUTER_MODEL_ID=qwen/qwen3-next-80b-a3b-thinking
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=123

LMSTUDIO_MODEL_ID=qwen/qwen3-next-80b-a3b-thinking
LMSTUDIO_BASE_URL=http://123.123.1.123:1234/v1
LMSTUDIO_API_KEY=123

LEANN_CHAT_MODEL=qwen/qwen3-next-80b-a3b-thinking
SEARXNG_BASE_URL=http://localhost:8080